/notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
/notebooks/data/FashionMNIST/raw/train-labels-idx1-ubyte
/notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
/notebooks/data/FashionMNIST/raw/train-images-idx3-ubyte
/notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
/notebooks/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
/notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
/notebooks/data/FashionMNIST/raw/t10k-images-idx3-ubyte
/src/__pycache__/train.cpython-39.pyc
/src/__pycache__/model.cpython-39.pyc
/src/__pycache__/__init__.cpython-39.pyc
